
<ul class='nav justify-content-center' style='background-color: beige; margin-bottom: 30px'>
  <h1>
    TODO APP
  </h1>
</ul>

<div
  class='modal fade'
  id='exampleModal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>
          Добавить/Редактировать задачу
        </h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <input id='toDoName' type='text' class='form-control' placeholder='Название задачи' />
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>
          Отмена
        </button>
        <button type='button' id='saveData' class='btn btn-primary'>
          Отправить
        </button>
      </div>
    </div>
  </div>
</div>

<table class='table'>
  <thead>
    <tr>
      <th scope='col'>
        ID
      </th>
      <th scope='col'>
        Task
      </th>
      <th scope='col'>
        Completed
      </th>
      <th scope='col'>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
        {{#each data}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{todo_name}}</td>
            <td>
                <input 
                    class="form-check-input" 
                    type="checkbox" 
                    name="toDoChange" 
                    data-id="{{id}}" 
                    {{#if completed}}checked{{/if}} 
                />
            </td>
            <td>
                <div class="btn-container">
                    <i data-id="{{id}}" data-name="{{todo_name}}"  class="bi-pencil btnAction btnEdit"></i>
                    <i data-id="{{id}}" class="bi-trash btnAction btnRemove"></i>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
